@media only screen and (min-width: 768px){

	#menu{
		display: none;
	}

	#index > .header-text > h1,
	#preview > .header-text > h1,
	#about > .header-text > h1{
  		font-size: 6.0em;
  	}

  	#index > .header-text > h3,
  	#preview > .header-text > h3,
  	#about > .header-text > h3{
  		font-size: 2.3em;
  	}

  	.imp{
  		height: 400px;
  		overflow: scroll;
	}

	#sr>a>img:hover,
	#sr>a>img:focus{
  		width: 270px;
  		height: 327px;
 	}


	.contact-info>li{
	  margin: 5px;
	}

	.contact-info>li>a{
	  margin: 5px;
	  padding: 5px;
	}

 	.contact-info>li>a:hover{
	  text-decoration: none;
	  background-color: #0271C5;
	  color: #F8F8F8;
	  border-radius: 5px;
	}
}





@media only screen and (max-width: 768px){
	#nav.js{
		display: none;
	}
	#menu {
			width:1.4em;
			display: block;
			background:#ddd;
			font-size:1.35em;
			text-align: center;
	}
}